<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="open your mind，happy，图片，笑话，趣图，谜语，图片，哈哈，哈哈哈，搞笑图片，动图，猜一猜，猜猜">
    <meta name="description" content="一个提供笑话、幽默、图片、趣图、谜语、猜一猜、搞笑、动图等数种搞笑，最搞笑、最幽默的网上笑话平台。">
    <title>打开你的思维</title>
    <link rel="shortcut icon" href="../pic/favicon.ico" type="image/x-icon">
    <link href='https://cdn.webfont.youziku.com/webfonts/nomal/119547/45824/5b1e74adf629d90b8482da0c.css' rel='stylesheet' type='text/css'
    />
</head>

<body>
    <div class="all">
        <div class="nav">

            <span class="left iconfont">&#xe659;</span>
            <span class="right iconfont">&#xe658;</span>

            <div class="content">
                <ul id="content-ul">
                    <li class='content-item' data-type='joke' data-state='hide'>
                        <img src="./pic/joke.jpg" alt="">
                        <span class="one">笑
                            <br>话
                            <br>
                        </span>
                        <span class="two">
                            <br>你
                            <br>开
                            <br>心
                            <br>就
                            <br>好
                            <br>
                        </span>

                    </li>
                    <li class='content-item' data-type='picture' data-state='hide'>
                        <img src="./pic/pic.jpg" alt="">
                        <span class="one">图
                            <br>片
                            <br>
                        </span>
                        <span class="two">一
                            <br>个
                            <br>生
                            <br>动
                            <br>的
                            <br>笑
                            <br>话
                            <br>
                        </span>

                    </li>
                    <li class='content-item' data-type='guess' data-state='hide'>
                        <img src="./pic/guess.jpg" alt="">
                        <span class="one">谜
                            <br>语
                            <br>
                        </span>
                        <span class="two">
                            <br>原
                            <br>来
                            <br>自
                            <br>己
                            <br>这
                            <br>么
                            <br>厉
                            <br>害
                            <br>
                        </span>

                    </li>
                    <li class='content-item' data-type='about' data-state='hide'>
                        <img src="./pic/about.jpeg" alt="">
                        <span class="one">关
                            <br>于
                            <br>
                        </span>
                        <span class="two">
                            <br>如
                            <br>果
                            <br>你
                            <br>想
                            <br>更
                            <br>多
                            <br>
                        </span>

                    </li>
                </ul>
                <div class="content-data">
                    
                </div>
                <div class="guess-type-box">
                    <div class="guess-type active" data-guess-type='gxmy'>搞笑谜语</div>
                    <div class="guess-type" data-guess-type='zmmy'>字谜</div>
                    <div class="guess-type" data-guess-type='cymy'>成语谜语</div>
                    <div class="guess-type" data-guess-type='dwmy'>动物谜语</div>
                    <div class="guess-type" data-guess-type='aqmy'>爱情谜语</div>
                    <div class="guess-type" data-guess-type='dmmy'>灯谜谜语</div>
                    <div class="guess-type" data-guess-type='rmmy'>人名谜语</div>
                    <div class="guess-type" data-guess-type='dimmy'>地名谜语</div>
                    <div class="guess-type" data-guess-type='cy'>词语谜语</div>
                    <div class="guess-type" data-guess-type='dgmy'>带格谜语</div>
                    <div class="guess-type" data-guess-type='ry'>用语谜语</div>
                    <div class="guess-type" data-guess-type='wpmy'>物品谜语</div>
                    <div class="guess-type" data-guess-type='zwmy'>植物谜语</div>
                    <div class="guess-type" data-guess-type='jmmy'>名谜谜语</div>
                    <div class="guess-type" data-guess-type='sbmy'>书报谜语</div>
                    <div class="guess-type" data-guess-type='symy'>俗语谜语</div>
                    <div class="guess-type" data-guess-type='ypmy'>药品谜语</div>
                    <div class="guess-type" data-guess-type='yymy'>音乐谜语</div>
                    <div class="guess-type" data-guess-type='ysmy'>影视谜语</div>
                    <div class="guess-type" data-guess-type='cwmy'>称谓谜语</div>
                    <div class="guess-type" data-guess-type='qtmy'>趣味谜语</div>
                    <!-- <div class="guess-type" data-guess-type='miyujingxuan'>谜语精选</div> -->
                    <div class="guess-type" data-guess-type='njmy'>脑筋急转弯</div>
                    <div class="guess-type" data-guess-type='zlmy'>智力问答</div>
                </div>
                <div class='more'>
                    刷新
                </div>
                <div class="answer">
                    答案
                </div>
            </div>
        </div>
    </div>
</body>

</html>